.bg-image {
    background-image: url('https://www.vidyard.com/media/real-estate-video-marketing-1920x1080-1-1024x576.jpg');
    background-size: cover;
  }
  

  .img {
    background-image: url('https://en.pimg.jp/093/484/564/1/93484564.jpg');
    background-size: 50px 50px;
    background-repeat: no-repeat;
  }
  